
body{
  /*padding-top: 70px;*/
  font-style: normal;
  font-family: 'URWGeometric';
  color: #333399;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
/*body, html {
  height: 100%;
}*/

.btn{
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  background: #00CC99;
   padding: 1rem 1.5rem;
   border-radius: 13px;
   border: #00CC99;
}
h2{
    
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}
h3{
font-weight: bold;
font-size: 1.5rem;
line-height: 36px;

}

p{
font-weight: normal;
font-size: 1.1rem;
line-height: 27px;

}

/*Navigation*/
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(37, 33, 36)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border: none;
} 

/*section1*/
.section1{
  margin-top: 92px;
   background-image: url(../images/section1.jpg);
   background-size: 100%;
  background-repeat: no-repeat;

  
  background-position: center center;

 }
 .text-container{
   padding-top: 112px;
   padding-bottom: 252px;
 }
.text-success{
   color: #00CC99!important;
 }
/*section 2*/
.tex{
   margin-bottom: 120px;
   margin-top: 190px;
 }
 .svg-profil{
   width: 60px;
   height: 60px;
 }
/*section 3*/
.section3{
   background-image: url(../images/illustration.jpg) ;
    background-size: 100%;
  background-repeat: no-repeat;

  
  background-position: center center;
 }
 .section3 h2{
   padding-top: 25rem;
   padding-bottom: 10.75rem;
 }
/*section5*/
.section5{
background: #F5F9FF;
}
.row-card{
  margin: 15px;
  padding: 40px;
  border: 1px solid  rgba(51, 51, 153, 0.2);
  box-sizing: border-box;
  border-radius: 15px;
  
}


/*////section 6////*/
.tabl-text{
  padding-bottom: 130px;
  margin-bottom: 0px;
}
.jumbotron{
    background: white;
}

/*@media (min-width: 576px)  @media (min-width: 992px) @media (min-width: 768px)*/
/*/section 7/*/
.color-li{
color: rgba(51, 51, 153, 0.2);
}

.card{
    max-width: 430px;
    min-width: 320px !important;
    border: 1px solid rgba(51, 51, 153, 0.2);
  box-sizing: border-box;
  border-radius: 23px !important;
}


.procent, .line{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.li{
  font-weight: normal;
font-size: 18px;
line-height: 27px;
margin-bottom: 20px;
}
.ul{
  margin-bottom: 50px;
}
.coment{
  padding: 2rem;
}

input{
padding: 1.25rem 1rem !important;
border: 1px solid rgba(51, 51, 153, 0.2)!important;
border-radius: 12px!important;
}

/*footer*/
footer{
  background: #F5F9FF;
}

footer .container{
  padding: 160px 0px 60px 0px;
margin-left: auto;
margin-right: auto;
}
.footer-row{
  margin-bottom: 120px;
}